body {
    background-color: #e1f0ef;
}

.footer-moreinfo {
    background-color: #dedede;
}

a
{
    color: #339999;
    text-decoration: none;
}

a:hover
{
	color: #35a0a4;
	text-decoration: none;
}

a:active
{
	color: #35a0a4;
	text-decoration: none;
}

a:visited
{
	color: #f46b08;
	text-decoration: none;
}

table
{
    margin: 0 0 1em 0;
    padding: 0;
    border: 1px solid #ccc;
    border-collapse: collapse;
    font-size: 100%;
}

table.noborders,
table.noborders td

{
    border: none;
    padding: 10px 10px 0 10px;
    vertical-align: top;
}

table tbody
{
    border: 0;
}

th
{
    border: 1px solid #999;
    border-collapse: collapse;
    padding: 5px;
}

td
{
    border: 1px solid #999;
    border-collapse: collapse;
    padding: 5px;
}

.pullquote
{
    display: block;
    margin: 10px 0;
    padding: 38px 45px 10px;
    background-color: #fff;
    background: url("../img/quotes.png") no-repeat scroll left top transparent;
}

.pullquote .source, .source
{
    font-size: 90%;
    font-style: italic;
}

.seven-ways {
    margin-left: 140px;
}

.print_chart {
    padding-bottom: 0;
    margin-bottom: 5px;
    height: 25px;
}

.print_chart a {
    display: block;
    float: right;
    padding-right: 30px;
    background: url('../img/icon_printer.png') right center no-repeat;
    height: 25px;
    line-height: 25px;
}

.glossary dt {
    margin: 15px 0 0 0;
    font-size: 16px;
}

.glossary dd {
    margin-left: 15px;
}

/* Did You Know */
.did_you_know
{
    clear: both;
    display: block;
    float: right;
    width: 300px;
    margin: 20px 15px 10px 30px;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    background: url("../img/bg_pullquote.png") 0 0 no-repeat;
}

.did_you_know .pullquote
{
    display: block;
    margin: 0 !important;
    padding: 0 10px 0 20px !important;
    background-color: #fff;
    background: url(none) !important;
    font-style: italic !important;
    font-size: 16px !important;
    line-height: 150% !important;
    color: #999;
}

.did_you_know .citation
{
    font-size: 12px !important;
    line-height: 130% !important;
}

.did_you_know h3
{
    font-family: 'times new roman', times, serif;
    margin: 0 !important;
    padding: 20px 10px 10px 10px !important;
    border: 0;
    font-style: italic;
    font-weight: normal !important;
    font-size: 24px !important;
    color: #9999cc !important;
}

/* Wheel Interactive */
img[name="pediatricnutrition"] {
    width: 667px;
    height: "384"
}

/* Module 4 tables */
.gray_header table th {
    border: 2px solid #999;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    background-color: #EEE;
}

/* Quiz Submit Container */
.submit-container {
    text-align: center;
}

.submit-container .btn-print {
    margin-left: 10px;
}

.submit-container .btn-print:before {
    content: "\e045";
    font-family: "Glyphicons Halflings";
    margin-right: 3px;
}

/* Quizzes */

.casecontent ol {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
}

.casecontent ol li {
    line-height: 20px;
    margin: 10px 0;
    padding: 5px;
}

.cases {
  min-height: 20px;
  padding: 3px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.cases input[type="radio"],
.cases input[type="checkbox"] {
    margin: 3px 5px 3px 0px !important;
}

.cases .alert {
    padding: 5px;
    margin-bottom: 0;
}

.casetitle {
    background-color: #e6f2d8;
    margin: 0;
    padding: 5px 10px;
    border: 0;
    font-weight: bold;
    -webkit-border-top-left-radius: 4px;
        -moz-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
        -moz-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
}

.casecontent {
    margin: 10px;
    padding: 0;
    border: 0;
}

.casequestion {
    margin: 0;
    padding: 0;
    border: 0;
}

.cases li {
    margin: 3px 0;
}

.cases textarea {
    width: 90% !important;
}

.casesanswerdisplay {
    margin: 0;
    padding: 5px;
    border: 1px solid #999;
    line-height: 18px;
}


/* Myth & Fact */
.gameshow .cases {
    padding: 20px;
    background-color: #1DA5AB;
    border: 0;
}

.gameshow .quiz-feedback, 
.gameshow .casetitle {
    display: none;
}

.gameshow .casecontent {
    margin: 0;
    padding: 10px 20px 5px 130px;
        background: url('../img/qmark.png') center left no-repeat;
        background-position: top left;
        min-height: 185px;
        border: none;

}

.mf-question {
    font-size: 140%;
    font-style: italic;
    color: #fff;
        margin: 0;
}

.gameshow .casesanswerdisplay {
    border: 0;
}

/* QUIZ CASES */

.quiz_cases .cases {
    border: none;
}

.quiz_cases .casetitle {
    display: none;
}

.quiz_cases .question_text {
    font: normal 18px/140% "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #399;
}

.quiz_cases .casecontent ol {
    margin: 20px 0 20px 40px;
    padding: 0 0 0 20px;
    list-style-type: upper-alpha;
}

.quiz_cases label {
    font: normal 14px/140% "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.quiz_cases .alert {
    margin: 0;
}

.quiz_cases .casesanswerdisplay {
    margin: 0 40px;
    border-radius: 5px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

/* Module4 answer-feedback-quiz */

.answer-feedback-quiz input[type="checkbox"]:disabled,
.answer-feedback-quiz input[type="radio"]:disabled {
    display: inline;
}

.answer-feedback-quiz div.answer-explanation {
    display: block;
}

.answer-feedback-quiz .casesanswerdisplay {
    margin: 0 40px;
    border-radius: 5px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

/* Module4 complete-feedback-quiz */
div.complete-feedback-quiz div.quiz-feedback {
    display: block;
}

div.complete-feedback-quiz div.casetitle {
    display: none;
}

div.complete-feedback-quiz div.quiz-feedback span:before {
    content: "Thank you for your response. Continue to learn what happens next."
}

/* Interactives embed ----------------------------------------------------- */

.dentalvisit iframe {
    height: 1200px;
}

.speechdiagnoses iframe {
    height: 695px;
}

.speechassessment iframe {
    height: 595px;
}

.swallowassessment iframe {
    height: 470px;
}

.elderissues iframe {
    height: 740px;
}

.supportservices iframe {
    height: 770px;
}

.specialneedsvisit iframe {
    height: 960px;
}


/* Interactives embed ----------------------------------------------------- */

@media (min-width: 768px) {
}

@media (max-width: 991px) {
    .ruralhealth iframe {
        width: 860px;
    }
    .dentaloffice iframe {
        width: 860px;
    }
    .elderissues iframe {
        width: 800px;
    }
}

@media (min-width: 992px) {
    .supportservices iframe {
        height: 690px;
    }
    .specialneedsvisit iframe {
        height: 860px;
    }
}

@media (min-width: 1200px) {
}

@media print {
    .submit-container {
        display: none;
    }
}