<p>Pediatric dentists can partner with a variety of other healing and helping professionals to assure children's oral health, dental care, and overall wellbeing. Children's oral health is determined by social, behavioral, genetic, nutritional, and educational factors—as well as by dental care. Partnering with experts from these fields can enhance your practice and help children and their families obtain the highest levels of oral health.</p>

<p>According to the US Surgeon General</p>

<p>"Throughout the first two decades of growth and development, children and young people are deeply influenced by the social and environmental opportunities and constraints imposed by families, communities, and society. In the case of oral health, there is enough known about health promotion and disease prevention to improve the oral health and well-being of all children."</p>

<p>U.S. Department of Health and Human Services. Oral Health in America: A Report of the Surgeon General Rockville, MD: U.S. Department of Health and Human Services, National Institute of Dental and Craniofacial Research, National Institutes of Health, 2000.</p>

<p>These modules include activities, videos and case studies which:</p>

<ol>
    <li>Highlight non-dental professions that can impact children's oral health</li>
    <li>Suggest ways pediatric dentists can partner with them most effectively to enhance practice success</li>
    <li>Present examples of successful pediatric dentists who enhance their patient care through partnerships with these professions</li>
</ol>

<h3>Let's get started:</h3>
<ul class="module_list">
    <li>Module 1: <a href="/socialwork/introduction/">Social workers</a></li>
    <li>Module 2: <a href="/nutrition/introduction/">Nutrition</a></li>
    <li>Module 3: <a href="/speechpathology/introduction/">Speech pathology</a></li>
    <li>Module 4: <a href="/nursepractitioners/introduction/">Nurse Practitioners</a></li>
    <li>Module 5: <a href="/community/introduction/">Community Dental Health Coordinators</a></li>
</ul>

<p><img src="/img/assets/paperdolls.jpg" alt="" style="width: 670px;" role="presentation" /></p>
